projects/**/Library
projects/**/Temp
projects/**/obj
projects/**/\[Bb]uilds
projects/**/*.csproj
projects/**/*.sln
projects/**/Logs
projects/**/.idea
projects/**/*.csproj.DotSettings
projects/**/builds
projects/**/UserSettings
projects/**/RiderScriptEditorPersistedState.asset
